<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterOrclApp.tipoEnlace.home.title">Tipo Enlaces</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-enlace-gmm" [routerLink]="['/tipo-enlace-gmm/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterOrclApp.tipoEnlace.home.createLabel">
            Create new Tipo Enlace
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tipoEnlaces">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterOrclApp.tipoEnlace.codigo">Codigo</span></th>
            <th><span jhiTranslate="jhipsterOrclApp.tipoEnlace.titulo">Titulo</span></th>
            <th><span jhiTranslate="jhipsterOrclApp.tipoEnlace.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="jhipsterOrclApp.tipoEnlace.tipoTerminal">Tipo Terminal</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoEnlace of tipoEnlaces ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-enlace-gmm', tipoEnlace.id, 'view' ]">{{tipoEnlace.id}}</a></td>
                <td>{{tipoEnlace.codigo}}</td>
                <td>{{tipoEnlace.titulo}}</td>
                <td>{{tipoEnlace.descripcion}}</td>
                <td>
                    <div *ngIf="tipoEnlace.tipoTerminalId">
                        <a [routerLink]="['../tipo-terminal-gmm', tipoEnlace.tipoTerminalId , 'view' ]" >{{tipoEnlace.tipoTerminalId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tipo-enlace-gmm', tipoEnlace.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-enlace-gmm', tipoEnlace.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tipo-enlace-gmm', { outlets: { popup: tipoEnlace.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
