<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agentes">
            <h2><span jhiTranslate="jhipsterOrclApp.agentes.detail.title">Agentes</span> {{agentes.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.codigo">Codigo</span></dt>
                <dd>
                    <span>{{agentes.codigo}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{agentes.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.fechaAlta">Fecha Alta</span></dt>
                <dd>
                    <span>{{agentes.fechaAlta}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.estado">Estado</span></dt>
                <dd>
                    <span>{{agentes.estado}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.fechaEstado">Fecha Estado</span></dt>
                <dd>
                    <span>{{agentes.fechaEstado}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.tpNumero">Tp Numero</span></dt>
                <dd>
                    <span>{{agentes.tpNumero}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.tpRegalos">Tp Regalos</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterOrclApp.DominioSiNo.' + agentes.tpRegalos}}">{{agentes.tpRegalos}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.tipoTerminal">Tipo Terminal</span></dt>
                <dd>
                    <div *ngIf="agentes.tipoTerminalId">
                        <a [routerLink]="['/tipo-terminal-gmm', agentes.tipoTerminalId, 'view']">{{agentes.tipoTerminalId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.tipoArea">Tipo Area</span></dt>
                <dd>
                    <div *ngIf="agentes.tipoAreaId">
                        <a [routerLink]="['/tipo-area-gmm', agentes.tipoAreaId, 'view']">{{agentes.tipoAreaId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.tipoAgente">Tipo Agente</span></dt>
                <dd>
                    <div *ngIf="agentes.tipoAgenteId">
                        <a [routerLink]="['/tipo-agente-gmm', agentes.tipoAgenteId, 'view']">{{agentes.tipoAgenteId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="agentes.empresaId">
                        <a [routerLink]="['/empresas-gmm', agentes.empresaId, 'view']">{{agentes.empresaId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterOrclApp.agentes.almacen">Almacen</span></dt>
                <dd>
                    <div *ngIf="agentes.almacenId">
                        <a [routerLink]="['/almacenes-gmm', agentes.almacenId, 'view']">{{agentes.almacenId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agentes-gmm', agentes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
